{% extends "layout.njk" %}

{% block head%}
<title>About</title>
{% endblock %}

{% block content%}



<div id="wrapper">
  <img src="{{data.avatar_url}}" alt="jonsh">
  <h1> {{data.name}}</h1>
  <h2> {{data.role}}</h2>
  <p>{{data.description}}</p>
</div>

<div id="links-footer" class="links">
  {% for value in data.links %}
  <a href="{{value.url}}" target="_blank">{{value.name}}</a>
  {%endfor%}

</div>


{% endblock %}
